@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Squada One', cursive;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
